<html>
<head>
    <title>TTL</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="wrap">
        <div class="wrap2">
            <div class="fbox">    
                <img id="imgw" src="/css/images/ttlLogo2.png">
                <p class="m1">한국디지털미디어고등학교 유일 미디작곡 동아리</p>
                <div class="bx">
                    <h1>TTL NEWS</h1>
                    <p><a onclick="notyet()">preview</a></p>
                    <p><a onclick="notyet()">event</a></p>
                </div>
                <div class="bx">
                    <h1>TTL MUSIC</h1>
                    <p><a href="/album" style="color:black">Album</a></p>
                    <p><a href="/albumlist" style="color:black">AlbumList</a></p>
                    <p><a href="https://soundcloud.com/user-934936304" style="color:black">SoundCloud</a></p>
                </div>
            </div>e
        </div>
    </div>
<script>
    function notyet(){
        alert('아직 제공하지 않는 서비스입니다...');
    }
</script>
</body>

</html>
